body {
	text-align: center;
	width: 90%
	margin: auto;
}

img {
	max-width: 350px;
	height: auto;
	opacity: 0.6;
}

h1 {
	color: #9E9E9E;
}

h2 {
	color: #9E9E9E;
}

p {
	color: #9E9E9E;
}

a {
	color: #3B8DCD;
	text-decoration: none;
}