body {
	text-align: center;
	width: 90%
	margin: auto;
	background-image: linear-gradient(to bottom, #5b6f98, #8790b1, #b1b3ca, #d8d8e4, #ffffff);
}

img {
	max-width: 350px;
	height: auto;
	opacity: 0.69;
}

/* Doesn't work
a:hover {
	animation-name: wiggle;
	animation-duration: 3 s;
}

@keyframe wiggle {
	33% {text-align: left;}
	33% {text-align: right;}
	33% {text-align: center}
}*/

h1 {
	color: #9E9E9E;
}

h2 {
	color: #9E9E9E;
}

p {
	color: #9E9E9E;
}

a {
	color: white;
	text-decoration: none;
	border: 1px solid white;
	padding: 3px 3px;
	border-radius: 3px;
	background-color: #5b6f98;
}

/* Doesn't work
a:hover {
	animation-play-state: running;
	animation-name: wiggle;
	animation-duration: 3 s;
}

@keyframe wiggle {
	33% {text-align: left;}
	33% {text-align: right;}
	33% {text-align: center}*/
